// COLORS
$color-primary: #3f5d45;
$color-primary-light: #8da291;
$color-primary-lighter: #ccdbd4;
$color-primary-lightest: #eaf0ed;

$color-secondary-light: #ffe180;
$color-secondary-dark: #ffb949;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-100: #f8f9fa;
$color-grey-200: #e9ecef;
$color-grey-300: #dee2e6;
$color-grey-400: #ced4da;
$color-grey-500: #adb5bd;
$color-grey-600: #868e96;
$color-grey-700: #495057;
$color-grey-800: #343a40;
$color-grey-900: #212529;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

// COLORS

$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
// $default-font-size: 1.6rem;

// GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
