.footer {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__subscribe {
    background: #3f5d45;
    margin-top: 3.75rem;
  }

  &__register-title {
    display: flex !important;
    margin-bottom: 1.5rem !important;
    align-items: center !important;
  }

  &__logo-box--1 {
    margin-right: 2rem;
    width: 4rem;
    height: auto;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo--1 {
    width: 4rem;
    height: 4rem;
  }

  &__register-form {
    background: #eaf0ed;
    height: 3.5rem;
    position: relative;
    flex-grow: 1;
  }
  &__email-icon {
    display: inline-block;
    line-height: 1;
    font-size: 2.4rem;
    font-weight: 900;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    color: #3f5d45;
  }
  &__email-text {
    width: calc(100% - 64px);
    margin: 0;
    padding: 16px 20px 16px 64px;
    line-height: 24px;
    background-color: #eaf0ed;
    border: 0;
    border-radius: 0;
  }
  &__arrow-icon {
    margin: 0;
    padding: 2rem 2.4rem 2rem;
    color: #3f5d45;
    font-size: $default-font-size;
    border: none;
    background-color: #ffe180;
  }
}
