.Navigation {
  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center !important;
    height: 10rem;
  }
  &__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: 24rem;
    display: block;
  }

  &__nav,
  &__nav-header {
    height: 100%;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px 0;
    width: 100%;
  }
  &__item {
    display: flex;
  }

  &__cart,
  &__link,
  &__link:link,
  &__link:visited {
    transition: 0.3s all;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    font-size: 2rem;
    color: #3f5d45;
    display: block;
    font-weight: bold;
    line-height: 8rem;
    height: 8rem;
    text-align: -webkit-match-parent;

    cursor: pointer;

    &:hover,
    &:active {
      background: #3f5d45;
      color: #fff;
    }

    // don't know why this dosen't work
    // &--active {
    //   background: #3f5d45;
    //   color: #fff;
    // }
  }
}

@media (min-width: 500px) {
  .Navigation {
    &__list {
      flex-flow: row;
    }

    &__item {
      margin: 0;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
    }
    &__link,
    &__link:link,
    &__link:visited {
      text-decoration: none;
      transition: all 0.3s;
      font-size: 2rem;
      color: #3f5d45;
      font-weight: bold;
      line-height: 8rem;
      height: 8rem;
      text-align: -webkit-match-parent;
      padding: 16px 10px;
    }

    &:hover,
    &:active {
      background: #3f5d45;
      color: #fff;
    }
  }
}
