@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  5% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  30% {
    opacity: 0;
    transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px); }
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #3f5d45;
  color: #fff; }

body {
  font-family: PingFang TC, "Helvetica Neue", Times, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #3f5d45;
  display: inline-block; }

ul {
  list-style: none; }

.heading-primary--large {
  font-weight: 600;
  font-size: 3.6rem;
  color: #eaf0ed; }

.heading-primary--medium {
  font-weight: 600;
  font-size: 2.4rem; }
  .heading-primary--medium--lightest {
    color: #eaf0ed; }
  .heading-primary--medium--light--light {
    color: #8da291;
    font-weight: 300; }

.heading-primary--sm {
  font-size: 2rem;
  font-weight: 600; }
  .heading-primary--sm--light {
    font-size: 2rem;
    font-weight: 600; }
  .heading-primary--sm--light--lightest {
    font-size: 2rem;
    font-weight: 400;
    color: #eaf0ed; }

.heading-primary--xs {
  font-weight: 400;
  font-size: 1.6rem; }
  .heading-primary--xs--b {
    font-size: 1.6rem;
    font-weight: 600; }
    .heading-primary--xs--b--lightest {
      font-weight: 400;
      font-size: 1.6rem;
      color: #eaf0ed; }
    .heading-primary--xs--b--light {
      font-weight: 400;
      font-size: 1.6rem;
      color: #8da291; }
  .heading-primary--xs--light {
    font-weight: 400;
    font-size: 1.6rem;
    color: #eaf0ed; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #8da291, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2.4rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 4.8rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 8ƒrem !important; } }

.u-margin-top-sm {
  margin-top: 3.4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.h-flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.h-flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.h-flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.h-flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important; }

.h-flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.h-flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important; }

.h-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important; }

.h-flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important; }

.h-flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important; }

.h-flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important; }

.h-flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important; }

.h-flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important; }

.h-justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.h-justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.h-justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.h-justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.h-justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important; }

.h-align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.h-align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.h-align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important; }

.h-align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important; }

.h-align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.h-align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important; }

.h-align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important; }

.h-align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important; }

.h-align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important; }

.h-align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important; }

.h-align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important; }

.h-align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important; }

.h-align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important; }

.h-align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important; }

.h-align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.h-align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important; }

.h-align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important; }

@media (max-width: 1023px) {
  .h-flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .h-flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .h-flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  .h-flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
  .h-flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .h-flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }
  .h-flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .h-flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }
  .h-flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }
  .h-flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .h-flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }
  .h-flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }
  .h-justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }
  .h-justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
  .h-justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .h-justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .h-justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }
  .h-align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  .h-align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }
  .h-align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important; }
  .h-align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }
  .h-align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  .h-align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }
  .h-align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }
  .h-align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
  .h-align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }
  .h-align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }
  .h-align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }
  .h-align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important; }
  .h-align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }
  .h-align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  .h-align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important; }
  .h-align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }
  .h-align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important; } }

@media (max-width: 767px) {
  .h-flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important; }
  .h-flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important; }
  .h-flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }
  .h-flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
  .h-flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .h-flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }
  .h-flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }
  .h-flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important; }
  .h-flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important; }
  .h-flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .h-flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important; }
  .h-flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important; }
  .h-justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important; }
  .h-justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important; }
  .h-justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  .h-justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  .h-justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important; }
  .h-align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important; }
  .h-align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important; }
  .h-align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important; }
  .h-align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important; }
  .h-align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important; }
  .h-align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important; }
  .h-align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important; }
  .h-align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important; }
  .h-align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important; }
  .h-align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important; }
  .h-align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important; }
  .h-align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important; }
  .h-align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important; }
  .h-align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important; }
  .h-align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important; }
  .h-align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important; }
  .h-align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important; } }

.h-m-0 {
  margin: 0 !important; }

.h-mt-0,
.h-my-0 {
  margin-top: 0 !important; }

.h-mr-0,
.h-mx-0 {
  margin-right: 0 !important; }

.h-mb-0,
.h-my-0 {
  margin-bottom: 0 !important; }

.h-ml-0,
.h-mx-0 {
  margin-left: 0 !important; }

.h-m-1 {
  margin: 0.4rem !important; }

.h-mt-1,
.h-my-1 {
  margin-top: 0.4rem !important; }

.h-mr-1,
.h-mx-1 {
  margin-right: 0.4rem !important; }

.h-mb-1,
.h-my-1 {
  margin-bottom: 0.4rem !important; }

.h-ml-1,
.h-mx-1 {
  margin-left: 0.4rem !important; }

.h-m-2 {
  margin: 0.8rem !important; }

.h-mt-2,
.h-my-2 {
  margin-top: 0.8rem !important; }

.h-mr-2,
.h-mx-2 {
  margin-right: 0.8rem !important; }

.h-mb-2,
.h-my-2 {
  margin-bottom: 0.8rem !important; }

.h-ml-2,
.h-mx-2 {
  margin-left: 0.8rem !important; }

.h-m-3 {
  margin: 1.6rem !important; }

.h-mt-3,
.h-my-3 {
  margin-top: 1.6rem !important; }

.h-mr-3,
.h-mx-3 {
  margin-right: 1.6rem !important; }

.h-mb-3,
.h-my-3 {
  margin-bottom: 1.6rem !important; }

.h-ml-3,
.h-mx-3 {
  margin-left: 1.6rem !important; }

.h-m-4 {
  margin: 2.4rem !important; }

.h-mt-4,
.h-my-4 {
  margin-top: 2.4rem !important; }

.h-mr-4,
.h-mx-4 {
  margin-right: 2.4rem !important; }

.h-mb-4,
.h-my-4 {
  margin-bottom: 2.4rem !important; }

.h-ml-4,
.h-mx-4 {
  margin-left: 2.4rem !important; }

.h-m-5 {
  margin: 4.8rem !important; }

.h-mt-5,
.h-my-5 {
  margin-top: 4.8rem !important; }

.h-mr-5,
.h-mx-5 {
  margin-right: 4.8rem !important; }

.h-mb-5,
.h-my-5 {
  margin-bottom: 4.8rem !important; }

.h-mb-8ƒrem,
.h-my-8ƒrem {
  margin-bottom: 8ƒrem !important; }

.h-ml-5,
.h-mx-5 {
  margin-left: 4.8rem !important; }

.h-p-0 {
  padding: 0 !important; }

.h-pt-0,
.h-py-0 {
  padding-top: 0 !important; }

.h-pr-0,
.h-px-0 {
  padding-right: 0 !important; }

.h-pb-0,
.h-py-0 {
  padding-bottom: 0 !important; }

.h-pl-0,
.h-px-0 {
  padding-left: 0 !important; }

.h-p-1 {
  padding: 0.4rem !important; }

.h-pt-1,
.h-py-1 {
  padding-top: 0.4rem !important; }

.h-pr-1,
.h-px-1 {
  padding-right: 0.4rem !important; }

.h-pb-1,
.h-py-1 {
  padding-bottom: 0.4rem !important; }

.h-pl-1,
.h-px-1 {
  padding-left: 0.4rem !important; }

.h-p-2 {
  padding: 0.8rem !important; }

.h-pt-2,
.h-py-2 {
  padding-top: 0.8rem !important; }

.h-pr-2,
.h-px-2 {
  padding-right: 0.8rem !important; }

.h-pb-2,
.h-py-2 {
  padding-bottom: 0.8rem !important; }

.h-pl-2,
.h-px-2 {
  padding-left: 0.8rem !important; }

.h-p-3 {
  padding: 1.6rem !important; }

.h-pt-3,
.h-py-3 {
  padding-top: 1.6rem !important; }

.h-pr-3,
.h-px-3 {
  padding-right: 1.6rem !important; }

.h-pb-3,
.h-py-3 {
  padding-bottom: 1.6rem !important; }

.h-pl-3,
.h-px-3 {
  padding-left: 1.6rem !important; }

.h-p-4 {
  padding: 2.4rem !important; }

.h-pt-4,
.h-py-4 {
  padding-top: 2.4rem !important; }

.h-pr-4,
.h-px-4 {
  padding-right: 2.4rem !important; }

.h-pb-4,
.h-py-4 {
  padding-bottom: 2.4rem !important; }

.h-pl-4,
.h-px-4 {
  padding-left: 2.4rem !important; }

.h-p-5 {
  padding: 4.8rem !important; }

.h-pt-5,
.h-py-5 {
  padding-top: 4.8rem !important; }

.h-pr-5,
.h-px-5 {
  padding-right: 4.8rem !important; }

.h-pb-5,
.h-py-5 {
  padding-bottom: 4.8rem !important; }

.h-pl-5,
.h-px-5 {
  padding-left: 4.8rem !important; }

.h-m-auto {
  margin: auto !important; }

.h-mt-auto,
.h-my-auto {
  margin-top: auto !important; }

.h-mr-auto,
.h-mx-auto {
  margin-right: auto !important; }

.h-mb-auto,
.h-my-auto {
  margin-bottom: auto !important; }

.h-ml-auto,
.h-mx-auto {
  margin-left: auto !important; }

@media (max-width: 1023px) {
  .h-m-lg-0 {
    margin: 0 !important; }
  .h-mt-lg-0,
  .h-my-lg-0 {
    margin-top: 0 !important; }
  .h-mr-lg-0,
  .h-mx-lg-0 {
    margin-right: 0 !important; }
  .h-mb-lg-0,
  .h-my-lg-0 {
    margin-bottom: 0 !important; }
  .h-ml-lg-0,
  .h-mx-lg-0 {
    margin-left: 0 !important; }
  .h-m-lg-1 {
    margin: 0.4rem !important; }
  .h-mt-lg-1,
  .h-my-lg-1 {
    margin-top: 0.4rem !important; }
  .h-mr-lg-1,
  .h-mx-lg-1 {
    margin-right: 0.4rem !important; }
  .h-mb-lg-1,
  .h-my-lg-1 {
    margin-bottom: 0.4rem !important; }
  .h-ml-lg-1,
  .h-mx-lg-1 {
    margin-left: 0.4rem !important; }
  .h-m-lg-2 {
    margin: 0.8rem !important; }
  .h-mt-lg-2,
  .h-my-lg-2 {
    margin-top: 0.8rem !important; }
  .h-mr-lg-2,
  .h-mx-lg-2 {
    margin-right: 0.8rem !important; }
  .h-mb-lg-2,
  .h-my-lg-2 {
    margin-bottom: 0.8rem !important; }
  .h-ml-lg-2,
  .h-mx-lg-2 {
    margin-left: 0.8rem !important; }
  .h-m-lg-3 {
    margin: 1.6rem !important; }
  .h-mt-lg-3,
  .h-my-lg-3 {
    margin-top: 1.6rem !important; }
  .h-mr-lg-3,
  .h-mx-lg-3 {
    margin-right: 1.6rem !important; }
  .h-mb-lg-3,
  .h-my-lg-3 {
    margin-bottom: 1.6rem !important; }
  .h-ml-lg-3,
  .h-mx-lg-3 {
    margin-left: 1.6rem !important; }
  .h-m-lg-4 {
    margin: 2.4rem !important; }
  .h-mt-lg-4,
  .h-my-lg-4 {
    margin-top: 2.4rem !important; }
  .h-mr-lg-4,
  .h-mx-lg-4 {
    margin-right: 2.4rem !important; }
  .h-mb-lg-4,
  .h-my-lg-4 {
    margin-bottom: 2.4rem !important; }
  .h-ml-lg-4,
  .h-mx-lg-4 {
    margin-left: 2.4rem !important; }
  .h-m-lg-5 {
    margin: 4.8rem !important; }
  .h-mt-lg-5,
  .h-my-lg-5 {
    margin-top: 4.8rem !important; }
  .h-mr-lg-5,
  .h-mx-lg-5 {
    margin-right: 4.8rem !important; }
  .h-mb-lg-5,
  .h-my-lg-5 {
    margin-bottom: 4.8rem !important; }
  .h-ml-lg-5,
  .h-mx-lg-5 {
    margin-left: 4.8rem !important; }
  .h-p-lg-0 {
    padding: 0 !important; }
  .h-pt-lg-0,
  .h-py-lg-0 {
    padding-top: 0 !important; }
  .h-pr-lg-0,
  .h-px-lg-0 {
    padding-right: 0 !important; }
  .h-pb-lg-0,
  .h-py-lg-0 {
    padding-bottom: 0 !important; }
  .h-pl-lg-0,
  .h-px-lg-0 {
    padding-left: 0 !important; }
  .h-p-lg-1 {
    padding: 0.4rem !important; }
  .h-pt-lg-1,
  .h-py-lg-1 {
    padding-top: 0.4rem !important; }
  .h-pr-lg-1,
  .h-px-lg-1 {
    padding-right: 0.4rem !important; }
  .h-pb-lg-1,
  .h-py-lg-1 {
    padding-bottom: 0.4rem !important; }
  .h-pl-lg-1,
  .h-px-lg-1 {
    padding-left: 0.4rem !important; }
  .h-p-lg-2 {
    padding: 0.8rem !important; }
  .h-pt-lg-2,
  .h-py-lg-2 {
    padding-top: 0.8rem !important; }
  .h-pr-lg-2,
  .h-px-lg-2 {
    padding-right: 0.8rem !important; }
  .h-pb-lg-2,
  .h-py-lg-2 {
    padding-bottom: 0.8rem !important; }
  .h-pl-lg-2,
  .h-px-lg-2 {
    padding-left: 0.8rem !important; }
  .h-p-lg-3 {
    padding: 1.6rem !important; }
  .h-pt-lg-3,
  .h-py-lg-3 {
    padding-top: 1.6rem !important; }
  .h-pr-lg-3,
  .h-px-lg-3 {
    padding-right: 1.6rem !important; }
  .h-pb-lg-3,
  .h-py-lg-3 {
    padding-bottom: 1.6rem !important; }
  .h-pl-lg-3,
  .h-px-lg-3 {
    padding-left: 1.6rem !important; }
  .h-p-lg-4 {
    padding: 2.4rem !important; }
  .h-pt-lg-4,
  .h-py-lg-4 {
    padding-top: 2.4rem !important; }
  .h-pr-lg-4,
  .h-px-lg-4 {
    padding-right: 2.4rem !important; }
  .h-pb-lg-4,
  .h-py-lg-4 {
    padding-bottom: 2.4rem !important; }
  .h-pl-lg-4,
  .h-px-lg-4 {
    padding-left: 2.4rem !important; }
  .h-p-lg-5 {
    padding: 4.8rem !important; }
  .h-pt-lg-5,
  .h-py-lg-5 {
    padding-top: 4.8rem !important; }
  .h-pr-lg-5,
  .h-px-lg-5 {
    padding-right: 4.8rem !important; }
  .h-pb-lg-5,
  .h-py-lg-5 {
    padding-bottom: 4.8rem !important; }
  .h-pl-lg-5,
  .h-px-lg-5 {
    padding-left: 4.8rem !important; }
  .h-m-lg-auto {
    margin: auto !important; }
  .h-mt-lg-auto,
  .h-my-lg-auto {
    margin-top: auto !important; }
  .h-mr-lg-auto,
  .h-mx-lg-auto {
    margin-right: auto !important; }
  .h-mb-lg-auto,
  .h-my-lg-auto {
    margin-bottom: auto !important; }
  .h-ml-lg-auto,
  .h-mx-lg-auto {
    margin-left: auto !important; } }

@media (max-width: 768px) {
  .h-m-md-0 {
    margin: 0 !important; }
  .h-mt-md-0,
  .h-my-md-0 {
    margin-top: 0 !important; }
  .h-mr-md-0,
  .h-mx-md-0 {
    margin-right: 0 !important; }
  .h-mb-md-0,
  .h-my-md-0 {
    margin-bottom: 0 !important; }
  .h-ml-md-0,
  .h-mx-md-0 {
    margin-left: 0 !important; }
  .h-m-md-1 {
    margin: 0.4rem !important; }
  .h-mt-md-1,
  .h-my-md-1 {
    margin-top: 0.4rem !important; }
  .h-mr-md-1,
  .h-mx-md-1 {
    margin-right: 0.4rem !important; }
  .h-mb-md-1,
  .h-my-md-1 {
    margin-bottom: 0.4rem !important; }
  .h-ml-md-1,
  .h-mx-md-1 {
    margin-left: 0.4rem !important; }
  .h-m-md-2 {
    margin: 0.8rem !important; }
  .h-mt-md-2,
  .h-my-md-2 {
    margin-top: 0.8rem !important; }
  .h-mr-md-2,
  .h-mx-md-2 {
    margin-right: 0.8rem !important; }
  .h-mb-md-2,
  .h-my-md-2 {
    margin-bottom: 0.8rem !important; }
  .h-ml-md-2,
  .h-mx-md-2 {
    margin-left: 0.8rem !important; }
  .h-m-md-3 {
    margin: 1.6rem !important; }
  .h-mt-md-3,
  .h-my-md-3 {
    margin-top: 1.6rem !important; }
  .h-mr-md-3,
  .h-mx-md-3 {
    margin-right: 1.6rem !important; }
  .h-mb-md-3,
  .h-my-md-3 {
    margin-bottom: 1.6rem !important; }
  .h-ml-md-3,
  .h-mx-md-3 {
    margin-left: 1.6rem !important; }
  .h-m-md-4 {
    margin: 2.4rem !important; }
  .h-mt-md-4,
  .h-my-md-4 {
    margin-top: 2.4rem !important; }
  .h-mr-md-4,
  .h-mx-md-4 {
    margin-right: 2.4rem !important; }
  .h-mb-md-4,
  .h-my-md-4 {
    margin-bottom: 2.4rem !important; }
  .h-ml-md-4,
  .h-mx-md-4 {
    margin-left: 2.4rem !important; }
  .h-m-md-5 {
    margin: 4.8rem !important; }
  .h-mt-md-5,
  .h-my-md-5 {
    margin-top: 4.8rem !important; }
  .h-mr-md-5,
  .h-mx-md-5 {
    margin-right: 4.8rem !important; }
  .h-mb-md-5,
  .h-my-md-5 {
    margin-bottom: 4.8rem !important; }
  .h-ml-md-5,
  .h-mx-md-5 {
    margin-left: 4.8rem !important; }
  .h-p-md-0 {
    padding: 0 !important; }
  .h-pt-md-0,
  .h-py-md-0 {
    padding-top: 0 !important; }
  .h-pr-md-0,
  .h-px-md-0 {
    padding-right: 0 !important; }
  .h-pb-md-0,
  .h-py-md-0 {
    padding-bottom: 0 !important; }
  .h-pl-md-0,
  .h-px-md-0 {
    padding-left: 0 !important; }
  .h-p-md-1 {
    padding: 0.4rem !important; }
  .h-pt-md-1,
  .h-py-md-1 {
    padding-top: 0.4rem !important; }
  .h-pr-md-1,
  .h-px-md-1 {
    padding-right: 0.4rem !important; }
  .h-pb-md-1,
  .h-py-md-1 {
    padding-bottom: 0.4rem !important; }
  .h-pl-md-1,
  .h-px-md-1 {
    padding-left: 0.4rem !important; }
  .h-p-md-2 {
    padding: 0.8rem !important; }
  .h-pt-md-2,
  .h-py-md-2 {
    padding-top: 0.8rem !important; }
  .h-pr-md-2,
  .h-px-md-2 {
    padding-right: 0.8rem !important; }
  .h-pb-md-2,
  .h-py-md-2 {
    padding-bottom: 0.8rem !important; }
  .h-pl-md-2,
  .h-px-md-2 {
    padding-left: 0.8rem !important; }
  .h-p-md-3 {
    padding: 1.6rem !important; }
  .h-pt-md-3,
  .h-py-md-3 {
    padding-top: 1.6rem !important; }
  .h-pr-md-3,
  .h-px-md-3 {
    padding-right: 1.6rem !important; }
  .h-pb-md-3,
  .h-py-md-3 {
    padding-bottom: 1.6rem !important; }
  .h-pl-md-3,
  .h-px-md-3 {
    padding-left: 1.6rem !important; }
  .h-p-md-4 {
    padding: 2.4rem !important; }
  .h-pt-md-4,
  .h-py-md-4 {
    padding-top: 2.4rem !important; }
  .h-pr-md-4,
  .h-px-md-4 {
    padding-right: 2.4rem !important; }
  .h-pb-md-4,
  .h-py-md-4 {
    padding-bottom: 2.4rem !important; }
  .h-pl-md-4,
  .h-px-md-4 {
    padding-left: 2.4rem !important; }
  .h-p-md-5 {
    padding: 4.8rem !important; }
  .h-pt-md-5,
  .h-py-md-5 {
    padding-top: 4.8rem !important; }
  .h-pr-md-5,
  .h-px-md-5 {
    padding-right: 4.8rem !important; }
  .h-pb-md-5,
  .h-py-md-5 {
    padding-bottom: 4.8rem !important; }
  .h-pl-md-5,
  .h-px-md-5 {
    padding-left: 4.8rem !important; }
  .h-m-md-auto {
    margin: auto !important; }
  .h-mt-md-auto,
  .h-my-md-auto {
    margin-top: auto !important; }
  .h-mr-md-auto,
  .h-mx-md-auto {
    margin-right: auto !important; }
  .h-mb-md-auto,
  .h-my-md-auto {
    margin-bottom: auto !important; }
  .h-ml-md-auto,
  .h-mx-md-auto {
    margin-left: auto !important; } }

@media (max-width: 576px) {
  .h-m-sm-0 {
    margin: 0 !important; }
  .h-mt-sm-0,
  .h-my-sm-0 {
    margin-top: 0 !important; }
  .h-mr-sm-0,
  .h-mx-sm-0 {
    margin-right: 0 !important; }
  .h-mb-sm-0,
  .h-my-sm-0 {
    margin-bottom: 0 !important; }
  .h-ml-sm-0,
  .h-mx-sm-0 {
    margin-left: 0 !important; }
  .h-m-sm-1 {
    margin: 0.4rem !important; }
  .h-mt-sm-1,
  .h-my-sm-1 {
    margin-top: 0.4rem !important; }
  .h-mr-sm-1,
  .h-mx-sm-1 {
    margin-right: 0.4rem !important; }
  .h-mb-sm-1,
  .h-my-sm-1 {
    margin-bottom: 0.4rem !important; }
  .h-ml-sm-1,
  .h-mx-sm-1 {
    margin-left: 0.4rem !important; }
  .h-m-sm-2 {
    margin: 0.8rem !important; }
  .h-mt-sm-2,
  .h-my-sm-2 {
    margin-top: 0.8rem !important; }
  .h-mr-sm-2,
  .h-mx-sm-2 {
    margin-right: 0.8rem !important; }
  .h-mb-sm-2,
  .h-my-sm-2 {
    margin-bottom: 0.8rem !important; }
  .h-ml-sm-2,
  .h-mx-sm-2 {
    margin-left: 0.8rem !important; }
  .h-m-sm-3 {
    margin: 1.6rem !important; }
  .h-mt-sm-3,
  .h-my-sm-3 {
    margin-top: 1.6rem !important; }
  .h-mr-sm-3,
  .h-mx-sm-3 {
    margin-right: 1.6rem !important; }
  .h-mb-sm-3,
  .h-my-sm-3 {
    margin-bottom: 1.6rem !important; }
  .h-ml-sm-3,
  .h-mx-sm-3 {
    margin-left: 1.6rem !important; }
  .h-m-sm-4 {
    margin: 2.4rem !important; }
  .h-mt-sm-4,
  .h-my-sm-4 {
    margin-top: 2.4rem !important; }
  .h-mr-sm-4,
  .h-mx-sm-4 {
    margin-right: 2.4rem !important; }
  .h-mb-sm-4,
  .h-my-sm-4 {
    margin-bottom: 2.4rem !important; }
  .h-ml-sm-4,
  .h-mx-sm-4 {
    margin-left: 2.4rem !important; }
  .h-m-sm-5 {
    margin: 4.8rem !important; }
  .h-mt-sm-5,
  .h-my-sm-5 {
    margin-top: 4.8rem !important; }
  .h-mr-sm-5,
  .h-mx-sm-5 {
    margin-right: 4.8rem !important; }
  .h-mb-sm-5,
  .h-my-sm-5 {
    margin-bottom: 4.8rem !important; }
  .h-ml-sm-5,
  .h-mx-sm-5 {
    margin-left: 4.8rem !important; }
  .h-p-sm-0 {
    padding: 0 !important; }
  .h-pt-sm-0,
  .h-py-sm-0 {
    padding-top: 0 !important; }
  .h-pr-sm-0,
  .h-px-sm-0 {
    padding-right: 0 !important; }
  .h-pb-sm-0,
  .h-py-sm-0 {
    padding-bottom: 0 !important; }
  .h-pl-sm-0,
  .h-px-sm-0 {
    padding-left: 0 !important; }
  .h-p-sm-1 {
    padding: 0.4rem !important; }
  .h-pt-sm-1,
  .h-py-sm-1 {
    padding-top: 0.4rem !important; }
  .h-pr-sm-1,
  .h-px-sm-1 {
    padding-right: 0.4rem !important; }
  .h-pb-sm-1,
  .h-py-sm-1 {
    padding-bottom: 0.4rem !important; }
  .h-pl-sm-1,
  .h-px-sm-1 {
    padding-left: 0.4rem !important; }
  .h-p-sm-2 {
    padding: 0.8rem !important; }
  .h-pt-sm-2,
  .h-py-sm-2 {
    padding-top: 0.8rem !important; }
  .h-pr-sm-2,
  .h-px-sm-2 {
    padding-right: 0.8rem !important; }
  .h-pb-sm-2,
  .h-py-sm-2 {
    padding-bottom: 0.8rem !important; }
  .h-pl-sm-2,
  .h-px-sm-2 {
    padding-left: 0.8rem !important; }
  .h-p-sm-3 {
    padding: 1.6rem !important; }
  .h-pt-sm-3,
  .h-py-sm-3 {
    padding-top: 1.6rem !important; }
  .h-pr-sm-3,
  .h-px-sm-3 {
    padding-right: 1.6rem !important; }
  .h-pb-sm-3,
  .h-py-sm-3 {
    padding-bottom: 1.6rem !important; }
  .h-pl-sm-3,
  .h-px-sm-3 {
    padding-left: 1.6rem !important; }
  .h-p-sm-4 {
    padding: 2.4rem !important; }
  .h-pt-sm-4,
  .h-py-sm-4 {
    padding-top: 2.4rem !important; }
  .h-pr-sm-4,
  .h-px-sm-4 {
    padding-right: 2.4rem !important; }
  .h-pb-sm-4,
  .h-py-sm-4 {
    padding-bottom: 2.4rem !important; }
  .h-pl-sm-4,
  .h-px-sm-4 {
    padding-left: 2.4rem !important; }
  .h-p-sm-5 {
    padding: 4.8rem !important; }
  .h-pt-sm-5,
  .h-py-sm-5 {
    padding-top: 4.8rem !important; }
  .h-pr-sm-5,
  .h-px-sm-5 {
    padding-right: 4.8rem !important; }
  .h-pb-sm-5,
  .h-py-sm-5 {
    padding-bottom: 4.8rem !important; }
  .h-pl-sm-5,
  .h-px-sm-5 {
    padding-left: 4.8rem !important; }
  .h-m-sm-auto {
    margin: auto !important; }
  .h-mt-sm-auto,
  .h-my-sm-auto {
    margin-top: auto !important; }
  .h-mr-sm-auto,
  .h-mx-sm-auto {
    margin-right: auto !important; }
  .h-mb-sm-auto,
  .h-my-sm-auto {
    margin-bottom: auto !important; }
  .h-ml-sm-auto,
  .h-mx-sm-auto {
    margin-left: auto !important; } }

.h-hideText {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.h-none {
  display: none !important; }

.h-inline {
  display: inline !important; }

.h-inline-block {
  display: inline-block !important; }

.h-block {
  display: block !important; }

.h-table {
  display: table !important; }

.h-table-row {
  display: table-row !important; }

.h-table-cell {
  display: table-cell !important; }

.h-flex {
  display: -ms-flexbox !important;
  display: flex !important; }

.h-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }

@media (max-width: 1023px) {
  .h-lg-none {
    display: none !important; }
  .h-lg-inline {
    display: inline !important; }
  .h-lg-inline-block {
    display: inline-block !important; }
  .h-lg-block {
    display: block !important; }
  .h-lg-table {
    display: table !important; }
  .h-lg-table-row {
    display: table-row !important; }
  .h-lg-table-cell {
    display: table-cell !important; }
  .h-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .h-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

@media (max-width: 767px) {
  .h-md-none {
    display: none !important; }
  .h-md-inline {
    display: inline !important; }
  .h-md-inline-block {
    display: inline-block !important; }
  .h-md-block {
    display: block !important; }
  .h-md-table {
    display: table !important; }
  .h-md-table-row {
    display: table-row !important; }
  .h-md-table-cell {
    display: table-cell !important; }
  .h-md-flex {
    display: -ms-flexbox !important;
    display: flex !important; }
  .h-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.6rem;
  transition: all 0.2s;
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  color: #3f5d45;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  background-color: #ccdbd4;
  outline: none; }

.btn--light {
  background-color: #eaf0ed;
  color: #3f5d45; }
  .btn--light:hover {
    background-color: #ccdbd4; }

.btn--green {
  background-color: #3f5d45;
  color: #fff; }
  .btn--green::after {
    background-color: #3f5d45; }

.btn--yellow {
  background-color: #ffe180;
  color: #3f5d45; }
  .btn--yellow:active, .btn--yellow:focus {
    background-color: #ffb949;
    outline: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #3f5d45;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3f5d45;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #3f5d45;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.product {
  width: 100%;
  margin: 0 auto; }
  .product__card {
    width: 30rem;
    margin-top: 4rem;
    margin-left: 4rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    float: left; }
    @media only screen and (max-width: 56.25em) {
      .product__card {
        width: 92%; } }
    .product__card__img-box {
      position: relative;
      height: 30rem; }
      @media only screen and (max-width: 56.25em) {
        .product__card__img-box {
          width: 100%; } }
    .product__card__img {
      height: 30rem;
      width: 30rem;
      position: relative;
      background-size: cover;
      background-position: center; }
      @media only screen and (max-width: 56.25em) {
        .product__card__img {
          width: 100%; } }
    .product__card__info div {
      float: left;
      width: 50%;
      text-align: center;
      padding: 1rem 0; }
      .product__card__info div:not(:last-child) {
        border-right: 1px solid #ccdbd4; }
    .product__card__tag {
      position: absolute;
      top: 0;
      left: 2rem;
      color: #fff;
      background-color: #3f5d45;
      writing-mode: vertical-lr;
      padding: 2.56rem 1rem;
      letter-spacing: 0.5rem;
      font-size: 1.6rem; }
  .product__sideDrawer {
    position: fixed;
    width: 32rem;
    max-width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1502;
    background-color: #fff;
    padding: 3.2rem 1.6rem;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow: scroll; }
    .product__sideDrawer--open {
      transform: translateX(0);
      opacity: 1; }
    .product__sideDrawer--close {
      transform: translateX(30rem);
      opacity: 0; }
  .product__aside {
    margin-top: 4rem;
    float: right;
    width: 80%; }
    @media only screen and (max-width: 56.25em) {
      .product__aside {
        margin-top: 0;
        width: 100%; } }
    .product__aside__title {
      background: #3f5d45;
      color: #fff;
      text-align: center;
      padding: 2rem; }
  .product__cart-item {
    border-bottom: 1px solid grey;
    position: relative;
    margin-top: 2.5rem; }
    .product__cart-item__img {
      width: 15rem;
      height: 15.75rem; }
    .product__cart-item__price {
      position: absolute;
      bottom: 1rem;
      right: 1rem; }

.cart-toggle {
  position: fixed;
  top: 15rem;
  right: 10rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  z-index: 1502;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .cart-toggle {
      right: 2rem;
      top: 1rem; } }
  @media only screen and (max-width: 75em) {
    .cart-toggle {
      right: 5rem; } }
  .cart-toggle__icon {
    color: #3f5d45;
    display: block;
    font-weight: bold;
    line-height: 8rem;
    height: 8rem;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem; }
    .cart-toggle__icon:hover, .cart-toggle__icon:active {
      background: #3f5d45;
      color: #fff;
      border-radius: 1rem; }
    .cart-toggle__icon i {
      font-size: 2.4rem; }
  .cart-toggle__title {
    color: white;
    background-color: red;
    font-size: 1.4rem;
    position: relative;
    padding: 2px 6px;
    top: -1.8rem;
    right: 0.8rem;
    border-radius: 50%; }

.footer {
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__subscribe {
    background: #3f5d45;
    margin-top: 3.75rem; }
  .footer__register-title {
    display: flex !important;
    margin-bottom: 2.4rem !important;
    align-items: center !important; }
  .footer__logo-box--1 {
    margin-right: 2rem;
    width: 4rem;
    height: auto; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box--1 {
        margin-bottom: 6rem; } }
  .footer__logo--1 {
    width: 4rem;
    height: 4rem; }
  .footer__register-form {
    background: #eaf0ed;
    height: 6rem;
    position: relative;
    flex-grow: 1; }
  .footer__email-icon {
    display: inline-block;
    line-height: 1;
    font-size: 2.4rem;
    font-weight: 900;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
    color: #3f5d45; }
  .footer__email-text {
    width: calc(100% - 64px);
    margin: 0;
    padding: 16px 20px 16px 64px;
    line-height: 24px;
    background-color: #eaf0ed;
    border: 0;
    border-radius: 0; }
  .footer__arrow-icon {
    margin: 0;
    padding: 2rem 2.4rem 2rem;
    color: #3f5d45;
    font-size: 1.6rem;
    border: none;
    background-color: #ffe180; }

.l-registered {
  background: #3f5d45;
  margin-top: 6rem; }

.l-registered .col-row {
  width: 83%;
  margin: 0 auto; }

.l-registered__title img {
  margin-right: 2.4rem; }

.l-registered__title h3 {
  font-size: 2.4rem;
  color: #eaf0ed;
  font-family: Helvetica Neue, Regular; }

.l-registered__form {
  background: #eaf0ed;
  height: 6rem;
  max-width: 38rem;
  position: relative;
  flex-grow: 1; }

@media (max-width: 1023px) {
  .l-registered__form {
    max-width: 100%; } }

.l-registered__form__icon {
  font-size: 2.4rem;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem; }

.l-registered__form_small .l-registered__form__icon {
  font-size: 1.6rem;
  top: 2rem; }

.l-registered__form__text {
  font-size: 2.4rem;
  color: #8da291;
  border: none;
  background: none;
  margin-left: 4.8rem;
  width: 26.8rem; }

@media (max-width: 1023px) {
  .l-registered__form__text {
    width: 100%; } }

.l-registered__form_small .l-registered__form__text {
  font-size: 1.6rem; }

.l-registered__form__submit {
  background: #ffe180;
  width: 6.4rem;
  cursor: pointer;
  border: none; }

.l-registered__form__submit:hover,
.l-registered__form__submit:active {
  background: #ffd54d; }

.l-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #eaf0ed; }

.l-footer .col-row {
  width: 83%;
  margin: 0 auto; }

.l-footer__contact__logo {
  margin-bottom: 12rem; }

.l-footer__contact__content a {
  font-family: Helvetica Neue, Regular;
  text-decoration: none;
  color: #3f5d45;
  font-size: 1.6rem; }

.l-footer__social li {
  margin-right: 0.8rem; }

.l-footer__copyright {
  font-family: Times, Regular;
  font-size: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.col-container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto; }

.col-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.header-image {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto; }
  .header-image ul li img {
    height: 49.6rem; }
  .header-image__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .header-image__img {
    height: 49.6rem;
    width: 100%;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .header-image__img {
        height: auto;
        min-height: 17rem; } }
    @media only screen and (max-width: 37.5em) {
      .header-image__img {
        width: auto;
        min-height: 10rem; } }

.Navigation__header {
  position: fixed;
  transform: translate(-50%, 0);
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1500;
  display: block;
  background-color: #fff;
  height: 12rem; }

.Navigation__nav {
  float: right;
  margin-right: 16rem;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .Navigation__nav {
      display: none; } }

.Navigation__logo-box {
  position: fixed;
  top: 3.5rem;
  left: 16rem;
  width: 24rem;
  display: block;
  z-index: 10000; }
  @media only screen and (max-width: 56.25em) {
    .Navigation__logo-box {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0%); } }

.Navigation__list {
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .Navigation__list {
      flex-flow: column; } }

.Navigation__item {
  margin-top: 1.5rem;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .Navigation__item {
      padding: 1rem;
      border-bottom: 1px solid #8da291; } }

.Navigation__link, .Navigation__link:link, .Navigation__link:visited {
  transition: 0.3s all;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
  color: #3f5d45;
  display: block;
  font-weight: bold;
  text-align: -webkit-match-parent;
  padding: 3rem;
  cursor: pointer; }
  .Navigation__link:hover, .Navigation__link:active, .Navigation__link:link:hover, .Navigation__link:link:active, .Navigation__link:visited:hover, .Navigation__link:visited:active {
    background: #3f5d45;
    color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .Navigation__link, .Navigation__link:link, .Navigation__link:visited {
      padding: 0;
      height: 2.4rem;
      font-size: 2.4rem; } }

@media only screen and (max-width: 56.25em) {
  .Navigation__button {
    background-color: #3f5d45;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    border-radius: 3px;
    z-index: 1550;
    text-align: center;
    cursor: pointer; } }

.Navigation__icon {
  position: relative;
  margin-top: 3rem;
  z-index: 2; }
  .Navigation__icon, .Navigation__icon::before, .Navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .Navigation__icon::before, .Navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .Navigation__icon::before {
    top: -0.8rem; }
  .Navigation__icon::after {
    top: 0.8rem; }

.Navigation__Drawer {
  position: fixed;
  width: 30rem;
  height: 34rem;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #eaf0ed;
  padding: 4.5rem 1.6rem;
  box-sizing: border-box;
  transition: all 0.3s ease-out; }
  .Navigation__Drawer--open {
    transform: translateY(20%);
    opacity: 1; }
  .Navigation__Drawer--close {
    transform: translateY(-100%);
    opacity: 0; }

.order {
  margin: 0 14rem;
  text-align: center; }
  .order__productList {
    background-color: #ccdbd4;
    text-align: center;
    padding: 1.6rem;
    margin-bottom: 2rem; }
  .order__product {
    width: 100%;
    height: 19rem;
    padding: 2rem 0;
    border-bottom: 1px solid #ccdbd4; }
  .order__product-img {
    float: left; }
    .order__product-img img {
      height: 15rem;
      width: 15rem;
      background-position: center;
      background-size: contain; }
  .order__product-info {
    float: left;
    margin-left: 4rem;
    margin-top: 4rem;
    text-align: left; }
  .order__product-count {
    float: left;
    margin-left: 4rem;
    margin-top: 4rem;
    border: 1px solid #ccdbd4;
    background-color: transparent; }
    .order__product-count button {
      padding: 1.6rem;
      color: #3f5d45;
      font-size: 1.6rem;
      cursor: pointer;
      background-color: transparent;
      border: 1px none; }
    .order__product-count span {
      padding: 1.4rem 1.8rem;
      border-right: 1px solid #ccdbd4;
      border-left: 1px solid #ccdbd4; }
  .order__product-price {
    float: left;
    margin-left: 6rem;
    margin-top: 5rem; }
  .order__product-delete {
    float: right;
    margin-top: 3rem; }
    .order__product-delete button {
      border: 1px none;
      cursor: pointer;
      background-color: transparent; }
      .order__product-delete button i {
        font-size: 2.4rem;
        color: #3f5d45;
        padding: 2rem; }
  .order__summary {
    background-color: #3f5d45; }
  .order__summary-title {
    border-bottom: 1px solid #eaf0ed;
    text-align: center;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    padding: 1.6rem; }
  .order__summary-detail {
    margin-right: 1.6rem;
    margin-left: 1.6rem; }
    .order__summary-detail li {
      margin-bottom: 0.8rem;
      display: flex !important;
      justify-content: space-between !important; }
  .order__summary-submit {
    background: #ffe180; }

.checkout {
  max-width: 94rem;
  margin: 0 auto; }
  .checkout::after {
    content: "";
    display: table;
    clear: both; }
  .checkout__cancel {
    position: absolute;
    font-size: 2.4rem;
    top: 11.5rem;
    right: 3.2rem;
    z-index: 2000;
    color: #3f5d45; }
  .checkout__form {
    background-color: #3f5d45;
    width: 54rem;
    position: relative;
    float: left; }
  .checkout__form-section {
    padding: 3rem; }
  .checkout__form-title {
    height: 7.2rem;
    display: inline-block; }
  .checkout__form-progress {
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 2rem; }
  .checkout__progress-step {
    color: #eaf0ed;
    font-size: 1.6rem;
    display: list-item;
    z-index: 2;
    float: left;
    margin: 3rem; }
  .checkout__form__btnGroup {
    margin: 0 0.6rem; }
    .checkout__form__btnGroup button {
      float: left;
      width: 50%;
      border: 1px solid #eaf0ed; }
  .checkout__input-box {
    display: block;
    width: 100%; }
    .checkout__input-box::after {
      content: "";
      display: table;
      clear: both; }
  .checkout__input {
    padding: 0 0.4rem;
    margin-bottom: 1.6rem; }
    .checkout__input label {
      display: inline-block; }
    .checkout__input input {
      font-weight: 400;
      font-size: 1.6rem;
      color: #8da291;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .checkout__input-float {
    float: left;
    width: 50%; }

.e-form__control {
  display: block;
  width: 100%;
  padding: 1.0625rem;
  font-size: 1rem;
  color: #8da291;
  background-color: #eaf0ed;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.p-checkout__orderDetail__order {
  float: right;
  width: 40%; }

.p-checkout__orderDetail__section__title {
  font-size: 2.4rem;
  background: #eaf0ed;
  border-bottom: 1px solid #eaf0ed;
  text-align: center;
  padding-top: 1.6rem; }

.p-checkout__orderDetail__section__detail {
  border: 1px solid #eaf0ed;
  margin-bottom: 1.6rem;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem; }
  .p-checkout__orderDetail__section__detail li {
    margin-bottom: 0.8rem; }
    .p-checkout__orderDetail__section__detail li:not(:last-child) {
      font-size: 1.6rem; }
  .p-checkout__orderDetail__section__detail__totalPrice {
    font-weight: bold;
    margin-top: 1.6rem;
    font-size: 2rem; }

.p-checkout__orderDetail__section__productList {
  border: 1px solid #eaf0ed; }

.p-checkout__orderDetail__section__productList__img {
  flex: 0.9;
  background-position: center center;
  background-size: cover; }
